<div class="container-xl">
  <div class="top-cursos-page" style="padding-bottom: 50px;">
    <h1 style="padding-top: 10px">Cursos</h1>
    <a class="game_button" href="/cursos/create">
      <button type="button" class="btn btn-info">
        <i class="fa-solid fa-plus" style="margin-right: 10px;"></i>
        Adicionar novo curso
      </button>
    </a>
  </div>
  <div class="cursosContainer">
    {{#each cursos}}
    <a class="card border-info mb-3" href="/cursos/{{ id }}">
      <div class="card-header">
        <h4 class="card-title">{{ nome }}</h4>
        <form method="post" action="/cursos/remove/{{ id }}">
          <button type="submit">
            <i class="fa-solid fa-trash-can"></i>
          </button>
        </form>
      </div>
      <div class="card-body">
        <strong>{{ area }}</strong>
        <p class="card-text">{{ descricao }}</p>
      </div>
    </a>
    {{/each}}
  </div>
</div>